.container-main-modal {
  display: flex !important;
  justify-content: center;
  position: fixed;
  width: 400px;
  height: 320px;
  bottom: 100px;
  transform: translate(-50%);
  border-radius: 10px;
  color: #757575;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  tbody:last-child  th {
    border-bottom: 1px solid transparent !important;
  }

  th {
    padding: 12px 32px;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #757575;
  }
}
