.container-main-page {
  display: flex;
  height: 100%;

  // Content infos
  .infos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 5%;

    h1 {
      color: #747474;
      width: 80%;
    }

    .img-infos {
      img {
        width: 100%;
      }
    }

    .display-table {
      outline: none;
      cursor: pointer;
      font-size: 17px;
      color: #fff;
      padding: 2% 0;
      border: none;
      border-radius: 5px;
      background: #2b3dfa;
      margin-top: 20%;
    }

    .close-btn-modal {
      position: absolute;
      outline: none;
      cursor: pointer;
      width: 3%;
      padding: 1%;
      border-radius: 4px;
      background: #ff001f;
      border: none;
      font-size: 15px;
      bottom: 426px;
      // left: 2000px;
      color: #fff;
    }
  }

  .content-consults {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;

    .content-des-ori {
      display: flex;
      justify-content: space-between;

      .layout-lab-sel {
        display: flex;
        flex-direction: column;

        .des-ori-content-div {
          font-size: 14px;
          outline: none;
          margin-top: 2%;
          border-radius: 10px;
          border: 1px solid #747474;
          color: #333;
        }
      }
    }

    .plan-div {
      display: flex;
      flex-direction: column;
      margin-top: 5%;

      .select-for-user {
        color: #333;
        font-size: 14px;
        outline: none;
        margin-top: 2%;
        padding: 5% 1%;
        border-radius: 10px;
        border: 1px solid #747474;
      }
    }

    .minutes-content {
      display: flex;
      flex-direction: column;
      margin: 5% 0;

      input {
        outline: none;
        margin-top: 2%;
        padding: 5% 3%;
        border-radius: 10px;
        border: 1px solid #747474;
      }
    }

    .layout-the-price {
      display: flex;
      justify-content: space-between;

      .column-content {
        display: flex;
        flex-direction: column;
        width: 45%;

        .title-with-plan {
          color: #2b3dfa !important;
        }

        .with-plan-span {
          text-align: center;
          width: 100%;
          margin-right: 5%;
          padding: 10% 1%;
          margin-top: 2%;
          border-radius: 10px;
          border: 1px solid #2b3dfa;
        }

        .without-plan-span {
          text-align: center;
          width: 100%;
          padding: 10% 1%;
          margin-top: 2%;
          border-radius: 10px;
          border: 1px solid #747474;
        }
      }
    }

    .btn-for-conclu {
      cursor: pointer;
      outline: none;
      color: #fff;
      font-size: 18px;
      padding: 2% 0;
      border: none;
      background: #2b3dfa;
      border-radius: 5px;
    }
  }
}

@media (max-width: 1440px) {
  .container-main-page {
    .infos-content {
      width: 50%;

      h1 {
        text-align: center;
        margin-left: 10%;
        margin-top: 10%; 
        width: 90%;
      }

      .display-table {
        outline: none;
        cursor: pointer;
        font-size: 17px;
        color: #fff;
        padding: 2% 0;
        width: 20%;
        border: none;
        border-radius: 5px;
        background: #2b3dfa;
        margin-top: 10%;
      }

      .close-btn-modal {
        left: 67px;
      }
    }

    .content-consults {
      width: 50%;

      .content-des-ori {
        width: 80%;

        .layout-lab-sel {
          width: 45%;

          .des-ori-content-div {
            padding: 10% 4%;
          }
        }
      }

      .plan-div {
        width: 80%;
      }

      .minutes-content {
        width: 80%;
      }

      .layout-the-price {
        width: 80%;
      }

      .btn-for-conclu {
        margin-top: 15%;
        margin-bottom: 3%;
        width: 30%;
      }
    }
  }
}

@media (max-width: 780px) {
  .container-main-page {
    .infos-content {
      width: 50%;

      h1 {
        text-align: center;
        margin-top: 20%;
        width: 100%;
      }

      .display-table {
        display: none;
      }
    }

    .content-consults {
      width: 50%;

      .content-des-ori {
        width: 80%;

        .layout-lab-sel {
          width: 45%;

          .des-ori-content-div {
            padding: 10% 4%;
          }
        }
      }

      .plan-div {
        width: 80%;
      }

      .minutes-content {
        width: 80%;
      }

      .layout-the-price {
        width: 80%;
      }

      .btn-for-conclu {
        margin-top: 15%;
        margin-bottom: 3%;
        width: 30%;
      }
    }
  }
}

@media (max-width: 670px) {
  .container-main-page {
    display: flex;
    flex-direction: column;

    .infos-content {
      width: 100%;

      .display-table {
        display: none;
      }

      h1 {
        margin-top: 5%;
        text-align: center;
        width: 100%;
      }

      .display-table {
        width: 30%;
      }

      .close-btn-modal {
      }
    }

    .content-consults {
      width: 100%;

      .content-des-ori {
        width: 80%;

        .layout-lab-sel {
          width: 45%;

          .des-ori-content-div {
            padding: 10% 4%;
          }
        }
      }

      .plan-div {
        width: 80%;
      }

      .minutes-content {
        width: 80%;
      }

      .layout-the-price {
        width: 80%;
      }

      .btn-for-conclu {
        margin-top: 15%;
        margin-bottom: 3%;
        width: 30%;
      }
    }
  }
}

@media (max-width: 480px) {
  .container-main-page {
    display: flex;
    flex-direction: column;

    .infos-content {
      width: 100%;

      .display-table {
        display: none;
      }

      h1 {
        margin-top: 5%;
        text-align: center;
        width: 100%;
      }

      .display-table {
        width: 30%;
      }

      .close-btn-modal {
      }
    }

    .content-consults {
      width: 100%;

      .content-des-ori {
        width: 80%;

        .layout-lab-sel {
          width: 45%;

          .des-ori-content-div {
            padding: 10% 4%;
          }
        }
      }

      .plan-div {
        width: 80%;
      }

      .minutes-content {
        width: 80%;
      }

      .layout-the-price {
        width: 80%;
      }

      .btn-for-conclu {
        margin-top: 15%;
        margin-bottom: 3%;
        width: 30%;
      }
    }
  }
}
